name: CI
on:
  pull_request:
  push:
    branches:
      - '*'

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npx xo

  Test:
    name: Live Action Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run Action
        uses: ./
      - name: Test the action by creating and deleting a commit
        run: |
          git commit --allow-empty --message 'git test'
          git push origin HEAD:refs/heads/testing-branch
          git push --delete origin testing-branch
